//@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Lato', sans-serif;
  }
  .active{
    &:hover{
        color: red;
    }
    border-bottom: 1px solid red;

  }
  /*HEADER*/
  header{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    .logo:hover{
      cursor: pointer;
    }
      ul{
        display: flex;
        height: 100%;
        li{
          padding: 10px 15px;
          list-style: none;
          height: 100%;
          display: flex;
          align-items: center;
          &:hover{
            border-bottom: 4px solid #0282f9;
          }
          a{
            text-decoration: none;
            display: inline-block;
            color: #303030;
            font-size: 0.8rem;
            &:hover{
                color: #0282f9;
            }
          }
        }
      }
    }
/*JUMBOTRON*/
.jumbotron{
    height: 400px;
    background-image: url('../../resources/img/jumbotron.jpg');
    background-size: cover ;
    position: relative;
    button{
      padding: 10px 20px;
      font-size: 1rem;
      color: white;
      background-color: #0282f9;
      border: none;
      cursor: pointer;
      position: absolute;
      left: 350px;
      bottom: -20px;
    }
   }

/*DCSeries*/
section.dc-series{
    background-color: #1c1c1c;
    text-align: center;
    button{
      padding: 8px 40px;
      margin-bottom: 15px;
      color: white;
      background-color: #0282f9;
      border: none;
      cursor: pointer;
    }
    .current-series{
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      padding: 50px;
    }
  }
  .cards{
    width: 100%;
    height: 160px;
    background-color: #0282f9;
    .list-cards{
      width: 70%;
      height: 100%;
      margin: 0 auto;
      ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        li{
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(100% / 5);
          .img-card{
            width: 60px;
            height: 70px;
            margin-right: 10px;
            &:hover{
              cursor: pointer;
            }
            img{
              width: 100%;
              height: 100%;
            }
          }
          a{
            text-decoration: none;
            color: white;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .card{
    width: calc(100% / 6);
    cursor: pointer;
    padding: 0px 5px 20px;

    .img-card{
      width: 100%;
      padding-bottom: 10px;
        img{
          width: 150px;
          height:150px;
          object-fit: cover;
          object-position: top;
        }
    };
    a{
        text-decoration: none;
    }
    h4{
      color: white;
      font-size: 0.8rem;
      &:hover{color: #0282f9;}
    }
  }
/*FOOTER*/
    footer{
        width: 100%;
        background-image: url('../../resources/img/footer-bg.jpg');
        background-size: cover;
        display: flex;
        height: 400px;
        align-items: center;
        .footer-t{
          background-image: url('../img/dc-logo-bg.png');
          background-position: right;
          background-repeat: no-repeat;
          width: 70%;
          margin: 0 auto;
          padding: 35px;
          display: flex;
          .link-f{
            margin-right: 30px;
            h4{
              margin-bottom: 15px;
              color: white;
            };
            nav{
              ul{
                list-style: none;
                margin-bottom: 15px;
                li{
                  padding: 4px 0px;
                  a{
                    text-decoration: none;
                    color: #797979;
                  }
                }
              }
            }
          }
        }
      }

/*FOOTER SIGN*/
.sign{
    flex-direction: column;
    height: 120px;
    background-color: #303030;
    button{
      padding: 10px;
      border: 2px solid #0282f9;
      color: white;
      background-color: #303030;
      &:hover{
        cursor: pointer;
      }
    }
    .footer-b{
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .link-b{
          display: flex;
          align-items: center;
          h3{
            padding: 10px;
            color: #0282f9;
          }
          nav{
            ul{
              display: flex;
              list-style: none;
              li{
                padding: 0 5px;
              }
            }
          }
        }
      }
  }

/*COMIC-DETAIL*/
section.container-comic{
    width: 100%;
    height: 600px;
    background-color: #1c1c1c;
    color: white;
    .comic-detail{
        width: 70%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px;
        .description{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            height: 50%;
            .price{
                background-color: #0282f9;
                width: 10%;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        .box-img{
            width: 20%;
            height: 70%;
            border: 1px solid white;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
